<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.jaspersoft.studio.dataAdapters">					    
         <dataAdapter ClassFactory="com.wastedge.api.jasper.adapter.WEAdapterFactory"/>
   </extension>
   <extension
         point="com.jaspersoft.studio.queryDesigner">
               <queryDesigner
            QueryDesignerClass="com.wastedge.api.jasper.query.WEQueryDesigner"
            language="elasticsearch">
      </queryDesigner>
   </extension>
      <extension
         point="com.jaspersoft.studio.server.resources">
      <resource
            ClassFactory="com.wastedge.api.jasper.server.WEResourceFactory">
      </resource>
   </extension>
</plugin>
